:host {
  display: inline-block;
  width: 100%;
  min-height: 40px;
  max-height: 100px;
}

button {
  background: #fff;
  height: 100%;
  width: 100%;
}

.icon {
  padding: 16px;

  mat-icon {
    font-size: 3rem;
    width: 3rem;
  }
}

.title {
  text-align: center;
  font-size: 1.2rem;
}
